
 <ul class="nav justify-content">
   <a class="navbar-brand" href="#">PronoFoot</a>

   <li class="nav-item align-middle">
        <a class="nav-link active" routerLinkActive="active" routerLink="/" >Du jour</a>
   </li>
     <li class="nav-item align-middle">
       <a class="nav-link active" routerLinkActive="active" routerLink="/" >A venir</a>
     </li>

   <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
     <li class="nav-item align-middle">
       <a class="nav-link active" routerLinkActive="active" routerLink="/" >
         <img width="30" height="30"
              src="assets/img/facebook.png"
              alt="FB" />
       </a>
     </li>
   </ul>

 </ul>


