img{
    width: 50%;
     margin-bottom: 1%;
}

#blason{
    padding-top: 2%;
    width: 30%;
}

.card {
  width: 40%;
  margin-bottom: 2%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-flow: row wrap;
  margin-top: 5%;

}
