


<div class="container">

    <div *ngFor="let match of this.matchs;" class="card">
      <div class="card-header">
          {{ match.tournoi }}  - {{ match.date_debut.locale("fr").format("LLLL")}} 
      </div>
      <div class="card-body">
        <h5 class="card-title">NOTRE PRONO : <h4>Victoire :  {{ match.prono }} </h4></h5>
        <div class="card-text">
          <div class="row">

          <div class="col-sm">
            <h6>{{ match.premiereEquipe}}</h6>
          </div>
          <div class="col-sm">
            <img src='/assets/img/{{match.premiereEquipe}}.png' alt="image/jpeg">
          </div>

          <div class="col-sm" id="nombre1">
            {{match.score_premiere_equipe}} -   {{ match.score_deuxieme_equipe}}
          </div>
          <div class="col-sm">
            <img src='/assets/img/{{match.deuxiemeEquipe}}.png' alt="image/jpeg">
          </div>
          <div class="col-sm">
            <h6> {{ match.deuxiemeEquipe }} </h6>
          </div>
          </div>

        </div>
      </div>
    </div>

</div>
