img{
    width: 50%;
     margin-bottom: 1%;
  height:  80%;

}

#blason{
    padding-top: 2%;
    width: 30%;
  height:  50%;
}

.card {
  width: 40%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 999px){
  .card {
    width: 100%;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-flow: row wrap;
  margin-top: 5%;

}
